{%- set number_string -%}
  {%- block number_string -%}
    {%- for number in number_list -%}
      {%- if loop.last -%}
        {{ number }}{% if kind == 'header' and config['header_period'] and not reference %}.{% endif %}
      {%- else -%}
        {{ number }}.
      {%- endif -%}
    {%- endfor -%}
  {%- endblock -%}
{%- endset -%}

{%- if reference -%}
  {%- block reference -%}{%- endblock -%}
{%- elif kind == 'header' -%}
  <{{ prefix }}{% if id %} id="{{ id }}"{% endif %}>{%- block header -%}{%- endblock -%}</{{ prefix }}>
{%- elif kind == 'figure' -%}
  <div class="{{ class }}"{% if id %} id="{{ id }}"{% endif %}>{%- block figure -%}{%- endblock -%}</div>
{%- elif kind == 'table' -%}
  <div class="{{ class }}"{% if id %} id="{{ id }}"{% endif %}>{%- block table -%}{%- endblock -%}</div>
{%- elif kind == 'code' -%}
  <div class="{{ class }}"{% if id %} id="{{ id }}"{% endif %}>{%- block code -%}{%- endblock -%}</div>
{%- elif kind == 'file' -%}
  <div class="{{ class }}"{% if id %} id="{{ id }}"{% endif %}>{%- block file -%}{%- endblock -%}</div>
{%- endif -%}
