{% extends 'base.jinja2' %}

{%- block number_string -%}
  {%- for number in number_list -%}
    {%- if loop.last -%}
      {{ number }}
    {%- else -%}
      {{ number }}{% if kind == 'header' %}.{% else %}.{% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}

{%- block header -%}
{{ number_string }} {{ title }}
{%- endblock -%}

{%- block figure -%}
{{ content }}
<p>{% block figure_prefix %}{{ prefix }}{% endblock %}{{ number_string }} {{ title }}</p>
{%- endblock -%}

{%- block table -%}
<p>{% block table_prefix %}{{ prefix }}{% endblock %}{{ number_string }} {{ title }}</p>
{{ content }}
{%- endblock -%}

{%- block code -%}
<p>{% block code_prefix %}{{ prefix }}{% endblock %}{{ number_string }} {{ title }}</p>
{{ content }}
{%- endblock -%}

{%- block reference -%}
[{{ number_string }}]({{ ref }})
{%- endblock -%}
