{% extends 'base.jinja2' %}

{%- block number_string -%}
{%- for number in number_list -%}{{ number }}.{%- endfor -%}
{%- endblock -%}

{%- block header -%}
{{ number_string }} {{ title }}
{%- endblock -%}

{%- block figure -%}
{{ content }}
<p>{%- block figure_prefix -%}Figure{%- endblock -%} {{ number_string }} {{ title }}</p>
{%- endblock -%}

{%- block table -%}
<p>{%- block table_prefix -%}Table{%- endblock -%} {{ number_string }} {{ title }}</p>
{{ content }}
{%- endblock -%}

{%- block reference -%}
[{{ number_string }}]({{ ref }})
{%- endblock -%}
