{% extends 'base.jinja2' %}

{%- block number_string -%}
  {%- for number in number_list -%}
    {%- if loop.last -%}
      {{ number }}
    {%- else -%}
      {{ number }}{% if kind == 'header' %}.{% else %}.{% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endblock -%}

{%- block header -%}
<span class="pheasant-header-number">{{ number_string }}</span> <span class="pheasant-header-title">{{ title }}</span>
{%- endblock -%}

{%- block figure -%}
{{ content }}
<p class="pheasant-figure">
<span class="name">{% block figure_prefix %}{{ prefix }}{% endblock %}</span>
<span class="number">{{ number_string }}</span>
<span class="title">{{ title }}</span></p>
{%- endblock -%}

{%- block table -%}
<p class="pheasant-table">
<span class="name">{% block table_prefix %}{{ prefix }}{% endblock %}</span>
<span class="number">{{ number_string }}</span>
<span class="title">{{ title }}</span></p>
{{ content }}
{%- endblock -%}

{%- block code -%}
<p class="pheasant-code">
<span class="name">{% block code_prefix %}{{ prefix }}{% endblock %}</span>
<span class="number">{{ number_string }}</span>
<span class="title">{{ title }}</span></p>
{{ content }}
{%- endblock -%}

{%- block reference -%}
[{{ number_string }}]({{ ref }})
{%- endblock -%}
