{% extends 'base.jinja2' %}

{%- block number_string -%}
{%- for number in number_list -%}{{ number }}.{%- endfor -%}
{%- endblock -%}

{%- block header -%}
{{ number_string }} {{ title }}
{%- endblock -%}

{%- block figure -%}
{{ body }}
<p>Figure {{ number_string }} {{ title }}</p>
{%- endblock -%}

{%- block table -%}
<p>Table {{ number_string }} {{ title }}</p>
{{ body }}
{%- endblock -%}

{%- block reference -%}
[{{ number_string }}]({{ ref }})
{%- endblock -%}
