{%- extends 'base.jinja2' -%}

{%- block header -%}
{{ number_string }} {{ title }}
{%- endblock -%}

{%- block figure -%}
{% autoescape false %}{{ content }}{% endautoescape %}
<p>{{ prefix }} {{ number_string }} {{ title }}</p>
{%- endblock -%}

{%- block table -%}
<p>{{ prefix }} {{ number_string }} {{ title }}</p>
{% autoescape false %}{{ content }}{% endautoescape %}
{%- endblock -%}

{%- block code -%}
<p>{{ prefix }} {{ number_string }} {{ title }}</p>
{% autoescape false %}{{ content }}{% endautoescape %}
{%- endblock -%}

{%- block file -%}
<p>{{ prefix }} {{ number_string }} {{ title }}</p>
{% autoescape false %}{{ content }}{% endautoescape %}
{%- endblock -%}

{%- block reference -%}
[{{ number_string }}]({{ ref }})
{%- endblock -%}
