{%- if kind == 'header' -%}
  {{ header }} <span class="header">{%- block header -%}{%- endblock -%}</span>
{%- else -%}
  <div class="{{ kind }}">
  {%- if kind == 'figure' -%}
    {%- block figure -%}{%- endblock -%}
  {%- else -%}
    {%- block other -%}{%- endblock -%}
  {%- endif -%}
  </div>
{%- endif -%}
