sudo: required
dist: trusty
language: python
python:
  - "3.6"

before_install:
  - sudo apt-get install julia

install:
  - pip install click jupyter coveralls pytest-cov coverage
  - pip install -e .
  - which jupyter
  - julia -e 'Pkg.build("IJulia")'

script:
  - pheasant --version
  - jupyter kernelspec list
  - pheasant kernelname
  - pytest

after_success:
  - coveralls
