{% from 'macro.jinja2' import output_display with context %}

{%- block codecell -%}
  {%- set options = cell.metadata.get('pheasant', {}).get('options', []) -%}
  {%- set language = cell.metadata.get('pheasant', {}).get('language', '') -%}
  {%- if 'hide' not in options and 'display' not in options -%}
    {%- if 'hide-input' not in options -%}
      {{ '```' + language + ' .pheasant-fenced-code .pheasant-jupyter-input\n' }}
      {%- if not cell.outputs or 'hide-output' in options -%}
        {%- block input -%}{%- endblock -%}
      {%- else -%}
        {%- block input_with_output -%}{%- endblock -%}
        {%- for output in cell.outputs if output.output_type != 'display_data' -%}
          {%- block output_text_inside scoped -%}{%- endblock -%}
        {%- endfor -%}
      {%- endif -%}{{ '```\n\n' }}
    {%- endif -%}
  {%- endif -%}
  {%- if 'hide' not in options and 'hide-output' not in options and 'display' not in options -%}
    {%- for output in cell.outputs if output.output_type != 'display_data' and 'text/html' not in output.data and 'text/latex' not in output.data -%}
      {%- if output.name != 'stderr' -%}
        {%- block output_text_outside scoped -%}{%- endblock -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- if 'hide' not in options and 'hide-output' not in options -%}
    {%- for output in cell.outputs if output.output_type == 'display_data' or 'text/html' in output.data or 'text/latex' in output.data -%}
      {{ output_display(output, true) + '\n\n' }}
    {%- endfor -%}
  {%- endif -%}
{%- endblock codecell -%}
