{% from 'macro.jinja2' import output_display with context %}


{%- block codecell -%}
  {%- set options = cell.metadata.get('pheasant', {}).get('options', []) -%}
  {%- set language = cell.metadata.get('pheasant', {}).get('language', '') -%}
  {%- if 'hide' not in options -%}
    {%- if 'hide-input' not in options -%}
      {{ '```' + language + ' .pheasant-markdown .pheasant-jupyter-input\n' }}
      {%- if not cell.outputs or 'hide-output' in options -%}
        {%- block input -%}{%- endblock -%}
      {%- else -%}
        {%- block input_with_output -%}{%- endblock -%}
        {%- for output in cell.outputs if output.output_type != 'display_data' -%}
          {%- block output_text_inside scoped -%}{%- endblock -%}
        {%- endfor -%}
      {%- endif -%}{{ '```' }}
    {%- endif -%}
  {%- endif -%}
  {%- if 'hide' not in options and 'hide-output' not in options -%}
    {%- for output in cell.outputs if output.output_type != 'display_data' -%}
      {{ '\n\n' }}{%- block output_text_outside scoped -%}{%- endblock -%}
    {%- endfor -%}
  {%- endif -%}
  {%- for output in cell.outputs -%}
    {{ '\n\n' }}{{ output_display(output) }}
  {%- endfor -%}
{%- endblock codecell -%}
