{%- from 'macro.jinja2' import output_display with context -%}

{%- if 'hide' not in option -%}
  {%- if 'display' not in option -%}
    <div class="input"><pre><code class="{{ language }}">{{ code }}</code></pre>
    <p class="report"><span class="count">[{{report.execution_count}}]</span><span class="label">Last executed</span>
    <span class="start">{{report.start}}</span><span class="label">in</span><span class="elasped">{{report.elasped}}</span>
    <span class="label">(total </span><span class="elasped">{{report.total}}</span><span class="label">)</span></p></div>
    {%- for output in outputs if output.type != 'display_data' -%}
      {%- if output.type == 'error' -%}
          <div class="error"><pre><code class="{{ language }}">{{ output.ename }}: {{ output.evalue }}</code></pre></div>
      {%- elif output.type == 'stream' -%}
          <div class="{{ output.name }}"><pre><code class="{{ language }}">{{ output.text }}</code></pre></div>
      {%- elif 'text/plain' in output.data -%}
          <div class="output"><pre><code class="{{ language }}">{{ output.data['text/plain'] }}</code></pre></div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- for output in outputs -%}{{ output_display(output) }}{%- endfor -%}
{%- endif -%}
