{%- from 'macro.jinja2' import output_display with context -%}

{%- if 'hide' not in option -%}
<div class="input"><pre><code class="{{ language }}">{{ code }}</code></pre>
<p class="report"><span class="count">[{{ report.cursor }}]</span>
<span class="start">{{ report.start }}</span> (<span class="elasped">{{ report.elasped }}</span>)
<span class="right">{%- if option -%}<span class="option"> ({{ option }}) </span>{%- endif -%}
<span class="kernel">{{ config.kernel_name[language] }}</span><span class="count"> [{{ report.count }}]</span>
</span></p></div>
  {%- for output in outputs if output.type != 'display_data' -%}
    {%- if output.type == 'error' -%}
        <div class="error"><pre><code class="text">{{ output.ename }}: {{ output.evalue }}</code></pre></div>
    {%- elif output.type == 'stream' -%}
        <div class="{{ output.name }}"><pre><code class="text">{{ output.text }}</code></pre></div>
    {%- elif 'text/plain' in output.data -%}
        <div class="output"><pre><code class="text">{{ output.data['text/plain'] }}</code></pre></div>
    {%- endif -%}
  {%- endfor -%}
  {%- for output in outputs -%}{{ output_display(output) }}{%- endfor -%}
{%- endif -%}
