{%- from 'macro.jinja2' import output_display with context -%}
{%- from 'macro.jinja2' import output_text with context -%}

{%- if 'hide' not in options -%}
  {%- if 'display' not in options -%}
    <div class="pheasant-fenced_code pheasant-input"><pre><code="{{language}}">{{code}}</code></pre></div>{{"\n"}}
    {%- for output in outputs if output.type != 'display_data' and 'text/html' not in output.data and 'text/latex' not in output.data -%}
      {%- if output.type == 'error' -%}
        <div class="pheasant-fenced_code pheasant-error"><pre><code="{{language}}">{{code}}</code></pre></div>{{"\n"}}
      {%- else -%}
        <div class="pheasant-fenced_code pheasant-output"><pre><code="{{language}}">{{output_text(output)}}</code></pre></div>{{"\n"}}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  {%- for output in outputs if output.type == 'display_data' or 'text/html' in output.data or 'text/latex' in output.data -%}
    {{output_display(output, true)}}
  {%- endfor -%}
{%- endif -%}
