{% extends 'cell.jinja2' %}
{% from 'macro.jinja2' import output_text with context %}

{%- block codecell -%}
  {%- for output in cell.outputs -%}
    {{ output_text(output) }}
  {%- endfor -%}
{%- endblock codecell -%}
