{%- from 'macro.jinja2' import output_display with context -%}

{%- for output in outputs -%}
  {%- if output.type == 'error' -%}
    <span style="color: red; font-weight: bold;">{{ output.ename }}: {{ output.evalue }}</span>
  {%- else -%}
    {{ output_display(output, display) }}
  {%- endif -%}
{%- endfor -%}
