{%- macro output_text(output) -%}
  {%- if output.type == 'execute_result' and 'text/plain' in output.data -%}
      {{ output.data['text/plain'] }}
  {%- elif output.type == 'stream' -%}
      {{ output.text }}
  {%- elif output.type == 'error' -%}
    {{ output.ename }}: {{ output.evalue }}
  {%- endif -%}
{%- endmacro -%}

{%- macro output_display(output, display) -%}
  {%- if display -%}
<div class="pheasant-jupyter-display">
  {% endif -%}
  {%- for type in output.data -%}
    {%- if type == 'text/html' -%}
      {%- autoescape false -%}{{ output.data['text/html'] }}{%- endautoescape -%}
    {%- elif type == 'text/latex' -%}
      {%- autoescape false -%}{{ output.data['text/latex'] }}{%- endautoescape -%}
    {%- elif type == 'text/plain' -%}
        {{ output.data['text/plain'] }}
    {%- else -%}
        <p><span style="color: red;">Unspported data type: '{{ type }}'</span></p>
    {%- endif -%}
  {%- endfor -%}
  {%- if display -%}
<div>
  {% endif -%}
{%- endmacro -%}
