{% extends 'notebook.jinja2' %}
{% from 'macro.jinja2' import output_text with context %}

{%- block input -%}
  {{ cell.source + '\n' }}
{%- endblock -%}

{%- block input_with_output -%}
  {{ cell.source + '\n' }}
{%- endblock -%}

{%- block output_text_outside -%}
{{ '\n\n```' + language + ' .pheasant-markdown .pheasant-jupyter-output\n'}}
{{ output_text(output) }}
{{ '```' }}
{%- endblock -%}
