{% extends 'base.jinja2' %}

{%- block input -%}
  {{ cell.source + '\n' }}
{%- endblock -%}

{%- block input_with_output -%}
  {{ cell.source + '\n' }}
{%- endblock -%}

{%- block output_text_outside -%}
{{ '\n\n```' + language + ' .pheasant-jupyter-output\n'}}
{{ output_text(output) }}
{{ '```' }}
{%- endblock -%}
