{% extends 'cell.jinja2' %}

{% from 'macro.jinja2' import output_text with context %}

{%- block input -%}
  {{ cell.source }}
{%- endblock -%}

{%- block input_with_output -%}
  {%- for line in cell.source.split('\n') -%}
    {%- if line.startswith(' ') %}...{% else %}>>>{% endif %} {{ line + '\n'}}
  {%- endfor -%}
{%- endblock -%}

{%- block output_text_inside -%}
  {{ output_text(output) }}
{%- endblock -%}
