.pheasant-figure {
  margin-bottom: 24px;
}

.pheasant-figure p {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: #000066;
}

.pheasant-figure svg {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}

.pheasant-table {
  margin-top: 24px;
}

.pheasant-table p {
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  color: #000066;
}

.pheasant-table table {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}
