/**************************************************
 Main
**************************************************/

body {
  font-size: 100%;
}

code {
  font-family: "Fira Code";
  color: #03E;
  border: none;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  /* background: #e0e0ff; */
}

p {
  margin-bottom: 10px;
}

/* .wy-nav-content {
    max-width: none;
} */

/**************************************************
 Numbering style
**************************************************/

.pheasant-header .header .number {
  opacity: 0.5;
  /* font-size: 90%; */
}

.pheasant-header .header .title {
  margin-left: 6px;
}

.pheasant-header div.figure {
  margin: 0px 0px 12px 0px;
}

.pheasant-header .figure .content p {
  margin: 0px;
}

.pheasant-header .figure .content,
.pheasant-header .table .content,
.pheasant-header .figure p,
.pheasant-header .table p {
  display: table;
  margin: 1px auto 0px auto;
}

.pheasant-header .figure p,
.pheasant-header .table p,
.pheasant-header .file p,
.pheasant-header .code p {
  font-size: 95%;
}

.pheasant-header .file p,
.pheasant-header .code p {
  margin: 1px auto 0px 2em;
}

.pheasant-header .figure .prefix,
.pheasant-header .table .prefix,
.pheasant-header .file .prefix,
.pheasant-header .code .prefix {
  color: #44f;
  font-weight: bold;
  margin-right: 0.2em;
}

.pheasant-header .figure .number,
.pheasant-header .table .number,
.pheasant-header .file .number,
.pheasant-header .code .number {
  color: #44f;
  font-weight: bold;
  margin-right: 0.4em;
}

.pheasant-header .figure .title,
.pheasant-header .table .title,
.pheasant-header .file .title,
.pheasant-header .code .title {
}

/**************************************************
 Fenced code style
**************************************************/

.pheasant-fenced-code {
  margin-bottom: 10px;
}

.pheasant-fenced-code > div {
  position: relative;
  margin: 2px 0px 2px 2em;
  padding: 0px;
  background: transparent;
}

.pheasant-fenced-code .error {
  position: relative;
  margin: 2px 0px 2px 2em;
  padding: 0px;
  background: transparent;
}

.pheasant-fenced-code pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px;
  padding: 0px;
}

.pheasant-fenced-code .input pre {
  border-radius: 4px 4px 0px 0px;
}

.pheasant-fenced-code .report {
  border-bottom: 1px solid #bdd;
  border-left: 1px solid #bdd;
  border-right: 1px solid #bdd;
  border-radius: 0px 0px 4px 4px;
  background: #eff;
  color: #777;
  font-size: 70%;
  padding: 0px 8px;
  line-height: 16px;
  margin-bottom: 2px;
}

.pheasant-fenced-code .cached .report {
  background: #eee;
}

.pheasant-fenced-code .report .count {
  color: #b88;
}

.pheasant-fenced-code .cached .report .count {
  color: #999;
}

.pheasant-fenced-code .report .elasped {
  color: #777;
  font-weight: bold;
}

.pheasant-fenced-code .cached .report .elasped {
  font-weight: normal;
}

.pheasant-fenced-code .report .right {
  position: absolute;
  right: 8px;
}

.pheasant-fenced-code .report .option {
  color: #aaa;
}

.pheasant-fenced-code code {
  font-family: "Fira Code";
  line-height: 1.34;
  font-size: 80%;
  background: transparent;
  padding: 6px 8px;
}

.pheasant-fenced-code div:before {
  font-family: san serif;
  content: "";
  position: absolute;
  left: -3.8em;
  font-size: 80%;
  width: 3.5em;
  text-align: right;
  margin-top: 5px;
}

.pheasant-fenced-code .input:before {
  content: "In:";
  color: #99b;
}
.pheasant-fenced-code .stdout:before {
  content: "Stdout:";
  color: #bb9;
}
.pheasant-fenced-code .stderr:before {
  content: "Stderr:";
  color: #fdd;
}
.pheasant-fenced-code .output:before {
  content: "Out:";
  color: #bb9;
}
.pheasant-fenced-code .error:before {
  content: "Err:";
  color: red;
}
.pheasant-fenced-code .source:before {
  content: "Src:";
  color: #aca;
}
.pheasant-fenced-code .display:before {
  content: "Display:";
  color: #ccc;
}

.pheasant-fenced-code .input pre {
  background-color: #dff;
  border-color: #bdd;
}
.pheasant-fenced-code .stdout pre {
  background-color: #ffd;
  border-color: #ddb;
}
.pheasant-fenced-code .stderr pre {
  background-color: #fdd;
  border-color: #fcc;
}
.pheasant-fenced-code .output pre {
  background-color: #ffd;
  border-color: #ddb;
}
.pheasant-fenced-code .error pre {
  background-color: #fcc;
  border-color: red;
}
.pheasant-fenced-code .source pre {
  background-color: #efe;
  border-color: #cec;
}

.pheasant-fenced-code .display .content,
.pheasant-inline-code .display .content {
  display: table;
  margin: 5px auto 5px auto;
}


/*
div.pheasant-number-figure div.pheasant-jupyter-display {
  margin: 3px auto 3px auto;
}

div.pheasant-jupyter-display p {
  margin: 0px;
}
 */
/* div.pheasant-number-figure p,
div.pheasant-number-table p {
  margin: 3px auto 3px auto;
}
 */

/**************************************************
 Pandas DataFrame style
**************************************************/

table.dataframe {
  border-collapse: collapse;
  border: none;
  font-size: 90%;
}

table.dataframe thead tr,
table.dataframe thead th,
table.dataframe tbody tr,
table.dataframe tbody th,
table.dataframe tbody td {
  border: none;
  text-align: center;
  padding: 2px 6px !important;
}

table.dataframe thead th {
  color: darkblue;
  background-color: lightcyan;
  border: 1px solid #333366 !important;
}

table.dataframe tbody th {
  color: black;
  background-color: #ffffee;
  border: 1px solid #666633 !important;
}

table.dataframe tbody td {
  color: black;
  background-color: #fcfcfc;
  border-bottom: 1px solid #b9b9b9 !important;
  border-right: 1px solid #b9b9b9 !important;
}

.dataframe tr th:last-child, .dataframe tr td:last-child {
  border-right: 1px solid #333366 !important;
}

.dataframe tr:last-child td, .dataframe tr:last-child th {
  border-bottom: 1px solid #333366 !important;
}

.dataframe tbody tr:nth-child(2n+1) td {
  background: #f1f6fc;
}


/**************************************************
 HoloViews
**************************************************/

.holoform label {
  color: black;
}

/**************************************************
 Misc
**************************************************/

span.pheasant-backquote {
  color: #AA0088;
}
