body {
  font-family: sans-serif;
}

pre {
  font-size: 100% !important;
  font-family: monospace;
}


.pheasant-figure {
  margin-bottom: 24px;
}

.pheasant-figure p {
  text-align: center;
  margin: 0px;
  font-weight: bold;
  color: #000066;
}

.pheasant-figure svg {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}

.pheasant-table {
  margin-top: 24px;
}

.pheasant-table p {
  text-align: center;
  margin-bottom: 2px;
  font-weight: bold;
  color: #000066;
}

.pheasant-table table {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
  width: auto !important;
}

.pheasant-code p {
  margin-bottom: 0px;
  font-weight: bold;
  color: #000066;
}

.pheasant-code pre {
  margin-top: 3px;
}

table.dataframe {
    border-collapse: collapse;
    border: none;
    font-size: 12px;
}

.dataframe thead tr,
.dataframe thead th,
.dataframe tbody tr,
.dataframe tbody th,
.dataframe tbody td {
    border: none;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.dataframe thead th {
    color: darkblue;
    background-color: lightcyan;
    border: 1px solid #333366;
}

.dataframe tbody th {
    color: black;
    background-color: #ffffee;
    border: 1px solid #666633;
}

.dataframe tbody td {
    color: black;
    background-color: #fcfcfc;
    border-bottom: 1px solid #b9b9b9;
    border-right: 1px solid #b9b9b9;
}

.dataframe tr th:last-child,
.dataframe tr td:last-child {
    border-right: 1px solid #555544;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.dataframe tr:last-child td,
.dataframe tr:last-child th {
    border-bottom: 1px solid #555544;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.dataframe tbody tr:nth-child(2n+1) td {
    background: #f1f6fc;
}
