/**************************************************
 Main
**************************************************/
body {
  font-size: 100%;
}

code {
  font-family: "Fira Code";
  color: #03E;
  border: none;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.wy-nav-content {
  max-width: none;
}

.ui-tooltip {
  font-size: 10px !important;
  font-weight: bold !important;
  color: white !important;
  background: #666 !important;
  border: 1px solid #666 !important;
  padding: 4px !important;
  box-shadow: none !important;
}

/**************************************************
 Numbering style
**************************************************/
.pheasant-header .header .number {
  opacity: 0.5;
}

.pheasant-header .header .title {
  margin-left: 6px;
}

.pheasant-header div.figure {
  margin: 0px 0px 12px 0px;
}

.pheasant-header .figure .content p {
  margin: 0px;
}

.pheasant-header .figure .content,
.pheasant-header .table .content,
.pheasant-header .figure .caption,
.pheasant-header .table .caption {
  display: table;
  margin: 1px auto 0px auto;
}

.pheasant-header .figure .caption,
.pheasant-header .table .caption,
.pheasant-header .other .caption {
  font-size: 95%;
}

.pheasant-header .other .caption {
  margin: 1px auto 0px 2em;
}

.pheasant-header .figure .prefix,
.pheasant-header .table .prefix,
.pheasant-header .other .prefix {
  color: #44f;
  font-weight: bold;
  margin-right: 0.2em;
}

.pheasant-header .figure .number,
.pheasant-header .table .number,
.pheasant-header .other .number {
  color: #44f;
  font-weight: bold;
  margin-right: 0.4em;
}

.pheasant-header .figure .title,
.pheasant-header .table .title,
.pheasant-header .other .title {}

/**************************************************
 Fenced code style
**************************************************/
.pheasant-fenced-code {
  margin-bottom: 10px;
}

.pheasant-fenced-code .input,
.pheasant-fenced-code .output,
.pheasant-fenced-code .stdout,
.pheasant-fenced-code .stderr,
.pheasant-fenced-code .error,
.pheasant-fenced-code .source,
.pheasant-fenced-code .display {
  position: relative;
  margin: 2px 0px 2px 2em;
  padding: 0px;
  line-height: normal;
}

.pheasant-fenced-code pre {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0px;
  padding: 4px 6px;
}

.pheasant-fenced-code code {
  color: black;
  font-family: "Fira Code";
  line-height: 18px;
  font-size: 80%;
  background: transparent;
  padding: 0px;
}

.pheasant-button-container {
  position: absolute;
  top: 2px;
  right: 5px;
}

.pheasant-fenced-code .toggle-button {
  border: none;
  background: none;
  outline: none;
  color: #aac;
}

.pheasant-fenced-code .toggle-button:before {
  content: "\f070";
  font-family: FontAwesome;
}

.pheasant-fenced-code .hide .toggle-button:before {
  content: "\f06e";
  font-family: FontAwesome;
}

.pheasant-fenced-code .input pre,
.pheasant-fenced-code .error pre {
  border-radius: 4px 4px 0px 0px;
}

.pheasant-fenced-code .input.hide pre,
.pheasant-fenced-code .error.hide pre {
  border-radius: 4px;
  margin-bottom: 2px;
}

.pheasant-fenced-code .input .report {
  border-bottom: 1px solid #bdd;
  border-left: 1px solid #bdd;
  border-right: 1px solid #bdd;
  border-radius: 0px 0px 4px 4px;
  background: #eff;
  color: #777;
  font-size: 70%;
  padding: 0px 8px;
  line-height: 16px;
  margin-bottom: 2px;
}

.pheasant-fenced-code .error .traceback {
  border-top: none;
  border-bottom: 1px solid pink;
  border-left: 1px solid pink;
  border-right: 1px solid pink;
  border-radius: 0px 0px 4px 4px;
  background: #fff9f9;
  color: #777;
  font-size: 90%;
  padding: 0px 8px;
  line-height: 16px;
  margin-bottom: 2px;
}

.pheasant-fenced-code .input.hide .report,
.pheasant-fenced-code .error.hide .traceback,
.pheasant-fenced-code .stdout.hide code {
  display: none;
}

.pheasant-fenced-code .stdout.hide pre {
  min-height: 26px;
  background: #fafafa;
  border-color: #ccc;
}

.pheasant-fenced-code .cached .report {
  background: transparent;
}

.pheasant-fenced-code .report .count {
  color: #b88;
}

.pheasant-fenced-code .cached .report .count {
  color: #999;
}

.pheasant-fenced-code .report .elasped {
  color: #777;
  font-weight: bold;
}

.pheasant-fenced-code .cached .report .elasped {
  font-weight: normal;
}

.pheasant-fenced-code .report .right {
  position: absolute;
  right: 8px;
}

.pheasant-fenced-code .report .option {
  color: #aaa;
}

.pheasant-fenced-code .input:before,
.pheasant-fenced-code .output:before,
.pheasant-fenced-code .stdout:before,
.pheasant-fenced-code .stderr:before,
.pheasant-fenced-code .source:before,
.pheasant-fenced-code .display:before,
.pheasant-fenced-code .error:before {
  content: "";
  position: absolute;
  left: -3.8em;
  font-size: 14px;
  width: 3.5em;
  text-align: right;
  margin-top: 5px;
}

.pheasant-fenced-code .input:before {
  content: "In:";
  color: #99b;
}

.pheasant-fenced-code .cached .input:before {
  content: "#In:";
  color: #99b;
}

.pheasant-fenced-code .stdout:before {
  content: "Stdout:";
  color: #bb9;
}

.pheasant-fenced-code .stderr:before {
  content: "Stderr:";
  color: #fdd;
}

.pheasant-fenced-code .output:before {
  content: "Out:";
  color: #bb9;
}

.pheasant-fenced-code .error:before {
  content: "Err:";
  color: red;
}

.pheasant-fenced-code .source:before {
  content: "Src:";
  color: #aca;
}

.pheasant-fenced-code .display:before {
  content: "Display:";
  color: #ccc;
}

.pheasant-fenced-code .docstring:before {
  content: "Doc:";
  color: #ccc;
}

.pheasant-fenced-code .input pre {
  background-color: #dff;
  border-color: #bdd;
}

.pheasant-fenced-code .stdout pre {
  background-color: #ffd;
  border-color: #ddb;
}

.pheasant-fenced-code .stderr pre {
  background-color: #fdd;
  border-color: #fcc;
}

.pheasant-fenced-code .output pre {
  background-color: #ffd;
  border-color: #ddb;
}

.pheasant-fenced-code .error pre {
  background-color: #fdd;
  border-color: pink;
}

.pheasant-fenced-code .source pre {
  background-color: #efe;
  border-color: #cec;
}

.pheasant-fenced-code .docstring pre {
  background-color: #efe;
  border-color: #cec;
}

.pheasant-inline-code span.cached {
  background-color: #eec;
}

.pheasant-fenced-code .display .content,
.pheasant-inline-code .display .content {
  display: table;
  margin: 5px auto 5px auto;
}

/**************************************************
 Pandas DataFrame style
**************************************************/
table.dataframe {
  border-collapse: collapse;
  border: none;
  font-size: 90%;
}

table.dataframe thead tr,
table.dataframe thead th,
table.dataframe tbody tr,
table.dataframe tbody th,
table.dataframe tbody td {
  border: none;
  text-align: center;
  padding: 2px 6px !important;
}

table.dataframe thead th {
  color: darkblue;
  background-color: lightcyan;
  border: 1px solid #333366 !important;
}

table.dataframe tbody th {
  color: black;
  background-color: #ffffee;
  border: 1px solid #666633 !important;
}

table.dataframe tbody td {
  color: black;
  background-color: #fcfcfc;
  border-bottom: 1px solid #b9b9b9 !important;
  border-right: 1px solid #b9b9b9 !important;
}

.dataframe tr th:last-child, .dataframe tr td:last-child {
  border-right: 1px solid #333366 !important;
}

.dataframe tr:last-child td, .dataframe tr:last-child th {
  border-bottom: 1px solid #333366 !important;
}

.dataframe tbody tr:nth-child(2n+1) td {
  background: #f1f6fc;
}

/**************************************************
 HoloViews
**************************************************/
.holoform label {
  color: black;
}

/**************************************************
  ANSI
**************************************************/
.error code {
  color: red;
}

.ansi31 {
  color: red;
}

.ansi32 {
  color: orange;
}

.ansi33 {
  color: blue;
}

.ansi34 {
  color: blue;
}
