/**************************************************
 Main
**************************************************/
code {
  font-family: "Fira Code", "Courier New", Consolas, monospace;
  color: #03E;
  border: none;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}

p {
  margin-bottom: 10px;
}

h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.wy-nav-content {
  max-width: none;
  /* padding-left: 60px; */
}

.ui-tooltip-pheasant {
  font-size: 10px !important;
  font-weight: bold !important;
  color: white !important;
  background: #666 !important;
  border: none !important;
  padding: 3px 6px !important;
  box-shadow: none !important;
}

/**************************************************
 Numbering style
**************************************************/
.pheasant-header .header .number {
  opacity: 0.5;
}

.pheasant-header .header .title {
  margin-left: 6px;
}

.pheasant-header div.figure {
  margin: 0px 0px 12px 0px;
}

.pheasant-header .figure .content p {
  margin: 0px;
}

.pheasant-header .figure .content,
.pheasant-header .table .content,
.pheasant-header .figure .caption,
.pheasant-header .table .caption {
  display: table;
  margin: 1px auto 0px auto;
}

.pheasant-header .figure .caption,
.pheasant-header .table .caption,
.pheasant-header .other .caption {
  font-size: 95%;
}

.pheasant-header .other .caption {
  margin: 1px auto 0px 0px;
}

.pheasant-header .figure .prefix,
.pheasant-header .table .prefix,
.pheasant-header .other .prefix {
  color: #44f;
  font-weight: bold;
  margin-right: 0.2em;
}

.pheasant-header .figure .number,
.pheasant-header .table .number,
.pheasant-header .other .number {
  color: #44f;
  font-weight: bold;
  margin-right: 0.4em;
}

.pheasant-header .figure .title,
.pheasant-header .table .title,
.pheasant-header .other .title {}

/**************************************************
 Fenced code style
**************************************************/
:root {
  --input-color: #99b;
  --output-color: #cc9;
  --error-color: #f99;
  --source-color: #beb;
  --display-color: #ccc;
}

.pheasant-fenced-code {
  margin-bottom: 10px;
}

.pheasant-fenced-code .cell {
  position: relative;
  margin: 2px 0px 2px 0px;
  padding: 0px;
  line-height: normal;
}

.pheasant-fenced-code .cell.jupyter::before {
  content: "";
  position: absolute;
  left: -2.6em;
  font-size: 14px;
  width: 2.3em;
  text-align: right;
  margin-top: 5px;
  font-size: 80%;
}

.pheasant-fenced-code .cell.input::before {
  content: "In";
  color: var(--input-color);
}

.pheasant-fenced-code .cached .cell.input::before {
  content: "#In";
  color: var(--input-color);
}

.pheasant-fenced-code .cell.output::before {
  content: "Out";
  color: var(--output-color);
}

.pheasant-fenced-code .cell.stdout::before,
.pheasant-fenced-code .cell.stderr::before,
.pheasant-fenced-code .cell.error::before,
.pheasant-fenced-code .cell.display::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
}

.pheasant-fenced-code .cell.stdout::before {
  content: "\f550";
  color: var(--output-color);
}

.pheasant-fenced-code .cell.stderr::before {
  content: "\f550";
  color: var(--error-color);
}

.pheasant-fenced-code .cell.error::before {
  content: "\f071";
  color: var(--error-color);
}

.pheasant-fenced-code .cell.display::before {
  content: "\f108";
  color: var(--display-color);
}

.pheasant-fenced-code .code {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 0px;
  padding: 4px 6px;
}

.pheasant-fenced-code pre {
  margin: 0px;
  padding: 0px;
}

.pheasant-fenced-code code {
  color: black;
  line-height: 18px;
  font-size: 80%;
  background: transparent;
  padding: 0px;
}

.pheasant-fenced-code .input .code {
  border-color: #bdd;
  background: #dff;
}

.pheasant-fenced-code .stdout .code,
.pheasant-fenced-code .output .code {
  border-color: #ddb;
  background: #ffd;
}

.pheasant-fenced-code .stderr .code,
.pheasant-fenced-code .error .code {
  border-color: #fcc;
  background: #fee;
}

.pheasant-fenced-code .source .code,
.pheasant-fenced-code .file .code,
.pheasant-fenced-code .terminal .code,
.pheasant-fenced-code .docstring .code {
  border-color: #cec;
  background: #efe;
}

.pheasant-fenced-code .input .code,
.pheasant-fenced-code .error .code {
  border-radius: 4px 4px 0px 0px;
}

.pheasant-fenced-code .cell .report {
  border-width: 1px;
  border-style: solid;
  border-radius: 0px 0px 4px 4px;
  border-top: none;
  padding: 2px 6px;
  margin-bottom: 2px;
  color: #777;
}

.pheasant-fenced-code .input .report {
  border-color: #bdd;
  background: #eff;
}

.pheasant-fenced-code .cached .input .report {
  background: transparent;
}

.pheasant-fenced-code .error .report {
  border-color: #fcc;
  background: transparent;
}

.pheasant-fenced-code .cell .report p {
  font-size: 70%;
  margin: 0px;
  line-height: normal;
}

.pheasant-fenced-code .report .cell-count,
.pheasant-fenced-code .report .total-count {
  color: #b88;
}

.pheasant-fenced-code .cached .report .cell-count,
.pheasant-fenced-code .cached .report .total-count {
  color: #999;
}

.pheasant-fenced-code .report .cell-time,
.pheasant-fenced-code .report .page-time,
.pheasant-fenced-code .report .total-time {
  color: #88f;
  font-weight: bold;
}

.pheasant-fenced-code .cached .report .cell-time,
.pheasant-fenced-code .cached .report .page-time,
.pheasant-fenced-code .cached .report .total-time {
  color: #777;
}

.pheasant-fenced-code .report .right {
  position: absolute;
  right: 8px;
}

.pheasant-fenced-code .report .option {
  color: #aaa;
}

.pheasant-button-container {
  position: absolute;
  top: 2px;
  right: 5px;
}

.pheasant-button-container .button {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  margin: 0px 0px 0px 6px;
  line-height: normal;
}

.pheasant-button-container .button::before {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-top: 3px;
}

.pheasant-button-container .toggle::before {
  font-family: "Font Awesome 5 Free";
  content: "\f06e";
}

.pheasant-button-container .toggle.hide::before {
  content: "\f070";
}

.pheasant-button-container .embed::before {
  color: var(--source-color);
}

.source .pheasant-button-container .embed::before {
  width: 24px;
  content: "</>";
}

.file .pheasant-button-container .embed::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c";
}

.terminal .pheasant-button-container .embed::before {
  content: "_>";
}

.pheasant-button-container .toggle.input {
  color: var(--input-color);
}

.pheasant-button-container .toggle.output {
  color: var(--output-color);
}

.pheasant-button-container .toggle.error {
  color: var(--error-color);
}

.pheasant-fenced-code .cell.hide .code {
  border-radius: 4px;
  margin-bottom: 2px;
}

.pheasant-fenced-code .cell.hide .report {
  display: none;
}

.pheasant-fenced-code .cell.stdout.hide,
.pheasant-fenced-code .cell.stderr.hide {
  display: none;
}

.pheasant-fenced-code .display .content,
.pheasant-inline-code .display .content {
  display: table;
  margin: 5px auto 5px auto;
}

/**************************************************
 Pandas DataFrame style
**************************************************/
table.dataframe {
  border-collapse: collapse;
  border: none;
  font-size: 90%;
}

table.dataframe thead tr,
table.dataframe thead th,
table.dataframe tbody tr,
table.dataframe tbody th,
table.dataframe tbody td {
  border: none;
  text-align: center;
  padding: 2px 6px !important;
}

table.dataframe thead th {
  color: darkblue;
  background: lightcyan;
  border: 1px solid #333366 !important;
}

table.dataframe tbody th {
  color: black;
  background: #ffffee;
  border: 1px solid #666633 !important;
}

table.dataframe tbody td {
  color: black;
  background: #fcfcfc;
  border-bottom: 1px solid #b9b9b9 !important;
  border-right: 1px solid #b9b9b9 !important;
}

.dataframe tr th:last-child, .dataframe tr td:last-child {
  border-right: 1px solid #333366 !important;
}

.dataframe tr:last-child td, .dataframe tr:last-child th {
  border-bottom: 1px solid #333366 !important;
}

.dataframe tbody tr:nth-child(2n+1) td {
  background: #f1f6fc;
}

/**************************************************
 HoloViews
**************************************************/
.holoform label {
  color: black;
}

/**************************************************
 Media query
**************************************************/
@media screen and (max-width: 768px) {
  .pheasant-fenced-code .report .right {
    display: none;
  }

  .pheasant-fenced-code .cell::before {
    display: none;
  }

  .pheasant-button-container {
    display: none;
  }
}
