body {
  font-size: 100%;
}

code {
  font-family: "Fira Code";
  color: #00A;
  background: #e0e0ff;
}


/**************************************************
 Display style
**************************************************/

div.pheasant-jupyter-display {
  display: table;
  margin: 5px auto 5px auto;
}

div.pheasant-number-figure div.pheasant-jupyter-display {
  margin: 3px auto 3px auto;
}

div.pheasant-jupyter-display p {
  margin: 0px;
}

div.pheasant-number-figure p,
div.pheasant-number-table p {
  margin: 3px auto 3px auto;
}

/**************************************************
 Numbering style
**************************************************/

.pheasant-header-number {
  opacity: 0.5;
  /* font-size: 90%; */
}

div.pheasant-number-figure {
  margin-bottom: 1.6em;
}

div.pheasant-number-figure p {
  text-align: center;
}

div.pheasant-number-table {
  margin-top: 1.6em;
}

p.pheasant-figure, p.pheasant-table {
  text-align: center;
  margin: 2px 8%;
  font-size: 100%;
}

p.pheasant-figure .name, p.pheasant-figure .number {
  font-weight: bold;
  color: #002299;
}

p.pheasant-table .name, p.pheasant-table .number {
  font-weight: bold;
  color: #002299;
}

div.pheasant-number-table table {
  margin: 0 auto;
  display: table !important;
  width: auto !important;
}

.pheasant-header-title {
  margin-left: 10px;
}


p.pheasant-figure .title,
p.pheasant-table .title,
p.pheasant-code .title,
p.pheasant-file .title {
  margin-left: 4px;
  color: #005599;
}

div.pheasant-number-code p,
div.pheasant-number-file p {
  margin-left: 2.0em !important;
  margin-bottom: -2px !important;
  padding: 0px 6px !important;
  font-size: 90%;
}


div.pheasant-number-code .name,
div.pheasant-number-code .number,
div.pheasant-number-file .name,
div.pheasant-number-file .number {
  font-weight: bold;
  color: #002299;
}


/**************************************************
 Table style
**************************************************/

.rst-content table.docutils thead th,
.rst-content table.docutils tbody td {
  padding: 2px 10px;
}

/**************************************************
 Pandas DataFrame style
**************************************************/

table.dataframe {
  border-collapse: collapse;
  border: none;
  font-size: 90%;
}

table.dataframe thead tr,
table.dataframe thead th,
table.dataframe tbody tr,
table.dataframe tbody th,
table.dataframe tbody td {
  border: none;
  text-align: center;
  padding: 2px 6px !important;
}

table.dataframe thead th {
  color: darkblue;
  background-color: lightcyan;
  border: 1px solid #333366 !important;
}

table.dataframe tbody th {
  color: black;
  background-color: #ffffee;
  border: 1px solid #666633 !important;
}

table.dataframe tbody td {
  color: black;
  background-color: #fcfcfc;
  border-bottom: 1px solid #b9b9b9 !important;
  border-right: 1px solid #b9b9b9 !important;
}

.dataframe tr th:last-child, .dataframe tr td:last-child {
  border-right: 1px solid #333366 !important;
}

.dataframe tr:last-child td, .dataframe tr:last-child th {
  border-bottom: 1px solid #333366 !important;
}

.dataframe tbody tr:nth-child(2n+1) td {
  background: #f1f6fc;
}


/**************************************************
 Fenced code style
**************************************************/

.pheasant-fenced-code {
  position: relative;
  background-color: transparent !important;
  margin-left: 2em !important;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pheasant-fenced-code pre {
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
}

.pheasant-fenced-code code {
  font-family: "Fira Code";
  line-height: 1.34;
  font-size: 80%;
  background: transparent !important;
  border: none !important;
  padding: 6px 8px;
}

.pheasant-fenced-code:before {
  content: "";
  position: absolute;
  left: -3.5em;
  font-size: 90%;
  color: #669;
  width: 3.3em;
  text-align: right;
  margin-top: 5px;
}

.pheasant-source:before {
  content: "Src:";
  color: #9b9;
}
.pheasant-input:before {
  content: "In:";
  color: #9bb;
}
.pheasant-stdout:before {
  content: "Stdout:";
  color: #bb9;
}
.pheasant-stderr:before {
  content: "Stderr:";
  color: #fdd;
}
.pheasant-output:before {
  content: "Out:";
  color: #bb9;
}
.pheasant-error:before {
  content: "Err:";
  color: red;
}
.pheasant-code:before {
 content: "";
 color: #9b9;
}
.pheasant-source > pre {
  background-color: #efc;
  border: 1px solid #bda;
}
.pheasant-input > pre {
  background-color: #dff;
  border: 1px solid #bdd;
}
.pheasant-stdout > pre {
  background-color: #ffd;
  border: 1px solid #ddb;
}
.pheasant-stderr > pre {
  background-color: #fdd;
  border: 1px solid #fcc;
}
.pheasant-output > pre {
  background-color: #ffd;
  border: 1px solid #ddb;
}
.pheasant-error > pre {
  background-color: #fcc;
  border: 1px solid red;
}
.pheasant-code > pre {
  background-color: #efd;
  border: 1px solid #bdb;
}

.pheasant-fenced-code + p {
  margin-top: 8px
}

.pheasant-fenced-code + h1,
.pheasant-fenced-code + h2,
.pheasant-fenced-code + h3,
.pheasant-number-file + h1,
.pheasant-number-file + h2,
.pheasant-number-file + h3,
.pheasant-number-code + h1,
.pheasant-number-code + h2,
.pheasant-number-code + h3 {
  margin-top: 1.4em;
}

p + .pheasant-fenced-code,
p + .pheasant-number-file,
p + .pheasant-number-code {
  margin-top: -16px;
}

p.pheasant-file + .pheasant-fenced-code,
p.pheasant-code + .pheasant-fenced-code {
  margin-top: 2px;
}

/**************************************************
 HoloViews
**************************************************/

.holoform label {
  color: black;
}

/**************************************************
 Misc
**************************************************/

span.pheasant-backquote {
  color: #AA0088;
}
